<h2>You submitted the following:</h2>
<table>
  <tbody>
    <tr>
      <th scope="row" class="label">Name:</th>
      <td>{{ testData.name }}</td>
    </tr>
    <tr>
      <th scope="row" class="label">Group: </th>
      <td>{{ testData.group }}</td>
    </tr>
    <tr>
      <th scope="row" class="label">Test: </th>
      <td> {{ testData.test }}</td>
    </tr>
    <tr>
      <th scope="row" class="label">Date: </th>
      <td>{{ testData.date | date: 'y MMM d' }}</td>
    </tr>
  </tbody>
</table>

<div *ngFor="let item of currentTestStructure.testStructure">

  {{item.partNumber}}{{item.taskType}}
  {{consolePrivate(item)}}

  <div *ngFor="let question of item.questions">
    {{question['questionNumber']}}
  </div>
</div>
