<div class="container">
  <h1>About</h1>
  <p>Marksheets is a tool to make marking tests and mock exams for the Cambridge Exam Suite faster and more efficient.
  </p>
  <h5>faster:</h5>
  <ul class="no-bullets">
    <li>it makes the marking process as easy as clicking away on buttons</li>
    <li>calculates partial and total results for individual candidates</li>
  </ul>
  <h5>more efficient:</h5>
  <ul class="no-bullets">
    <li>it calculates and displays stats on a group level such as:</li>
    <li>"the most often failed questions and parts"</li>
    <li>average results for candidates and groups</li>
    <li>identical incorrect answers</li>
    <li>it then generates a pdf version of the marked test</li>
  </ul>
</div>
