.btn-success {
  background-color: #C364fa;
  border-color: blueviolet;
}

button {
  margin: 1rem 0 1rem 0;
}

.btn-success:hover {
  background-color: #6B08C0;
  border-color: #4E068C;
}

.btn-success:disabled {
  background-color: #A968E2;
  border-color: #4E068C;
}

